* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS"
}

.header2 {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    text-align: center;
    max-width: 1400px;
    height: 100vh;
    background: url(img/4rth.jpg);
    background-size: cover;
    width: 100%;
}

.countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: -50px;
}

h1 {
    color: azure;
    font-size: 2rem;
}

.time {
    margin-right: 50px;
    color: azure;
    font-weight: 900;
}

@media only screen and (min-width: 1112px) {
    h1 {
        font-size: 3rem;
    }
    .time {
        font-size: 1.5rem;
        margin-top: 50px;
    }
    .h2 {
        font-weight: bold;
        font-size: 36px;
        line-height: 2;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1112px) {
    .header2 {
        background: url(img/3rd.jpg);
        background-size: cover;
        width: 100%;
    }
    h1 {
        font-size: 4rem;
    }
    .time {
        font-size: 1.5rem;
    }
    .h2 {
        font-weight: bold;
        font-size: 36px;
        line-height: 2;
    }
    .main-container {
        margin-right: -100px;
        margin-top: -90px;
    }
}

@media only screen and (max-width: 726px) {
    .main-container {
        margin-top: 8px;
        margin-right: 50px;
    }
    .header2 {
        background: url(img/3RD.jpg);
        background-size: cover;
        width: 100%;
    }
    h1 {
        font-size: 3rem;
        color: black;
    }
    .time {
        font-size: 1em;
        color: #fff !important;
        margin: 40px 0px 40px 20px;
    }
    .h2 {
        font-weight: bold;
        font-size: 36px;
        line-height: 1;
    }
}

@media only screen and (max-width: 335px) {
    .main-container {
        /* margin-top: -280px; */
        margin-right: 20px;
    }
    h1 {
        font-size: 3rem;
        color: black;
    }
    .time {
        color: #fff !important;
        font-size: 0.8em;
        margin: 10px 0px 10px 50px;
    }
    .h2 {
        color: #fff;
        font-size: 36px;
        font-weight: bold;
        line-height: 1;
    }
}


/* @media only screen and (max-width: 460px) {
    .countdown {
        display: block;
        flex-direction: column;
        margin-bottom: 0px !important;
    }
} */


/* sadasda */

.inputbox {
    position: relative;
    width: 200px;
    margin-top: 80px !important;
    margin: 0 auto;
}

.inputbox input {
    position: relative;
    width: 100%;
    padding: 20px 2px 10px;
    background: transparent;
    border: none;
    outline: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

.inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 2px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.3s;
}

.inputbox input:valid~span,
.inputbox input:focus~span {
    color: #45f3ff;
    transform: translateX(0px) translateY(-90px);
    font-size: 1em;
}

.inputbox i {
    margin: 0 auto;
    padding: 0 auto;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    border-radius: 4px;
    transition: 0.5;
    pointer-events: none;
    z-index: 9;
}

.inputbox input:valid~i,
.inputbox input:focus~i {
    height: 44px;
}

.butn {
    width: 8rem;
    height: 2rem;
    border-radius: 1.25rem;
    background-color: aqua;
    margin-right: -8px;
    margin-top: -50px;
}